@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
.navbar{
    background-color: rgb(49, 47, 47);
}
.navbar-item{
    color: rgb(245, 245, 245);
    font-weight: bold;
    font-size: 38px;
    transition: 1s ease-in-out all;
    
}
.main-content{
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.crud-container{
    width: 98%;
    border: 1px solid;
    padding: 2rem 3rem;
    overflow: auto;
}
.crud-container h1{
    font-weight: bold;
    font-size: 24px;
}
.crud-header{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 1rem 2rem;
    border-bottom: 1px solid;
}
.titulosTabla, .registroTabla{
    display: flex;
    align-items: top;
    min-width: 90%;
    max-width: 100%;
    min-height: 5vh;
    /* outline: red solid 1px; */
}

.contenidoTabla{
    /* outline: red solid 1px; */
    min-width: 90%;
    max-width: 100%;
    min-height: 50vh;
    
}
.campo{
    /* outline: blue solid 1px; */
    flex-wrap: wrap;
    margin: 2px;
    font-size: 13px;
    overflow-x: auto;
    padding: 0 5px;

}
.titulosTabla .campo{
    display: flex;
    align-items: top;
    justify-content: left;
    flex-grow: 1;
    font-weight: bolder;
    /* outline: red solid 1px; */
    background-color: #eee;

}

.campPeque
{
    max-width: 100px;
    min-width: 100px;
}
.campMed
{
    max-width: 150px;
    min-width: 150px;
}

.campGrande
{
    min-width: 150px;
    flex-grow: 2;
}

.registroTabla
{
    border-bottom: 3px solid #0002;
    margin-bottom: 10px;
}